# Configuration for 3.3.2_disable_icmp_redirect, created from default values on Fri Jun 17 13:12:20 CEST 2022
status=enabled
# Specify system parameters to audit, space separated
SYSCTL_PARAMS="net.ipv4.conf.all.accept_redirects=0 net.ipv4.conf.default.accept_redirects=0 net.ipv6.conf.all.accept_redirects=0 net.ipv6.conf.default.accept_redirects=0"
