# Configuration for 4.2.1.6_remote_syslog-ng_acl, created from default values on Fri Jun 17 13:12:21 CEST 2022
status=audit
SYSLOG_BASEDIR='/etc/syslog-ng'
# Put here if it's the remote host or not
REMOTE_HOST=false
