# Configuration for 5.2.18_sshd_limit_access, created from default values on Fri Jun 17 13:12:21 CEST 2022
status=audit
# Put here ssh user hardening list, there is a default in script to not break your configuration
# However, it can erase current configuration
ALLOWED_USERS=''
ALLOWED_GROUPS=''
DENIED_USERS=''
DENIED_GROUPS=''
